@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --bg-background: #1a1a1a;
}

* {
  font-family: 'Noto Sans', sans-serif;
}

.bg-background {
  background-color: var(--bg-background);
}